<div class="content-group">
    <div class="page-header page-header-default" style="border: 1px solid #ddd; border-bottom: 0;">
        <div class="page-header-content">
            <div class="page-title">
                <h5>
                    <span class="text-semibold">회원관리</span>
                </h5>
                <a class="heading-elements-toggle"><i class="icon-more"></i></a></div>

            <div class="heading-elements">
                <button class="btn bg-teal-400 btn-icon btn-sm heading-btn legitRipple"><i class="icon-gear"></i></button>
            </div>
        </div>

        <div class="breadcrumb-line"><a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
            <ul class="breadcrumb">
                <li><a href=""><i class="icon-home2 position-left"></i> Home</a></li>
                <li><a href="components_page_header.html">회원관리</a></li>
            </ul>
        </div>
    </div>
</div>