<div id="app" class="page-container" style="min-width:1600px;">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main sidebar -->
        <div class="sidebar sidebar-main sidebar-default sidebar-separate">
            <div class="sidebar-content">




                <!-- Sub navigation -->
                <div class="sidebar-category">
                    <div class="category-title">
                        <span>회원관리</span>
                        <ul class="icons-list">
                            <li><a href="#" data-action="collapse"></a></li>
                        </ul>
                    </div>

                    <div class="category-content no-padding">
                        <ul class="navigation navigation-alt navigation-accordion no-padding-bottom">
                            <li class="active"><a href="#" class="legitRipple"><i class="icon-drawer-in"></i> 회원관리</span></a></li>

                        </ul>
                    </div>


                </div>
                <!-- /sub navigation -->







            </div>
        </div>
        <!-- /main sidebar -->


        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Single line -->
            <div class="panel panel-white">
                <div class="panel-heading">
                    <h6 class="panel-title">공지사항리스트</h6>


                </div>


                <div class="navbar navbar-default">
                    <ul class="nav navbar-nav visible-xs-block no-border">
                        <li>
                            <a class="text-center collapsed legitRipple" data-toggle="collapse" data-target="#inbox-toolbar-toggle-single">
                                <i class="icon-circle-down2"></i>
                            </a>
                        </li>
                    </ul>

                    <div class="navbar-collapse collapse" id="inbox-toolbar-toggle-single">


                        <div class="input-group content-group navbar-btn">

                            <div class="has-feedback has-feedback-left">

                                <input type="text" class="form-control input-xlg" value="">
                                <div class="form-control-feedback">
                                    <i class="icon-search4 text-muted text-size-base"></i>
                                </div>
                            </div>


                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-primary btn-xlg legitRipple">검색</button>
                            </div>


                            <div class="navbar-right">
                                <p class="navbar-text"><span class="text-semibold">{{page}}</span> / <span class="text-semibold">{{totalPage}}</span></p>

                                <div class="btn-group navbar-left navbar-btn">
                                    <button type="button" class="btn btn-default btn-icon" v-on:click="prevPage"><i class="icon-arrow-left12"></i></button>
                                    <button type="button" class="btn btn-default btn-icon" v-on:click="nextPage"><i class="icon-arrow-right13"></i></button>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>


                <div class="table-responsive">
                    <table class="table">
                        <col width="5%">
                        <col width="10%">
                        <col width="70%">
                        <col width="15%">


                        <thead>
                        <tr class="bg-blue">
                            <th>
                                <input type="checkbox">
                            </th>
                            <th>번호</th>
                            <th>제목</th>
                            <th>등록일</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /single line -->

            <div class="col-xs-12 text-center">
                <!--<ul class="pagination-flat pagination-sm twbs-visible-pages pagination">-->
                <!--<li class="prev disabled"><a href="#" class="page-link">←</a></li>-->
                <!--<li class="page active"><a href="#" class="page-link legitRipple">1</a></li>-->
                <!--<li class="page"><a href="#" class="page-link legitRipple">2</a></li>-->
                <!--<li class="page"><a href="#" class="page-link legitRipple">3</a></li>-->
                <!--<li class="page"><a href="#" class="page-link legitRipple">4</a></li>-->
                <!--<li class="next"><a href="#" class="page-link legitRipple">→</a></li>-->
                <!--</ul>-->

                <template>
                    <paginate
                            :page-count="20"
                            :page-range="10"
                            :margin-pages="1"
                            :click-handler="clickCallback"
                            :prev-text="'이전'"
                            :next-txt="'다음'"
                            :container-class="'pagination'"
                            :page-class="'page-item'">
                    </paginate>
                </template>
            </div>


        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

</div>

<script language="javascript" src="/view_js/admin/notice/list.js"></script>