<div id="app" class="page-container" style="min-height:667px">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main sidebar -->
        <div class="sidebar sidebar-main sidebar-default sidebar-separate">
            <div class="sidebar-content">




                <!-- Sub navigation -->
                <div class="sidebar-category">
                    <div class="category-title">
                        <span>회원관리</span>
                        <ul class="icons-list">
                            <li><a href="#" data-action="collapse"></a></li>
                        </ul>
                    </div>

                    <div class="category-content no-padding">
                        <ul class="navigation navigation-alt navigation-accordion no-padding-bottom">
                            <li class="active"><a href="#" class="legitRipple"><i class="icon-drawer-in"></i> 회원관리</span></a></li>

                        </ul>
                    </div>
                </div>
                <!-- /sub navigation -->







            </div>
        </div>
        <!-- /main sidebar -->


        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Single line -->
            <div class="panel panel-white">
                <div class="panel-heading">
                    <h6 class="panel-title">회원리스</h6>

                    <div class="heading-elements not-collapsible">
                        <span class="label bg-blue heading-text">259 new today</span>
                    </div>
                </div>

                <div class="panel-toolbar panel-toolbar-inbox">
                    <div class="navbar navbar-default">
                        <ul class="nav navbar-nav visible-xs-block no-border">
                            <li>
                                <a class="text-center collapsed legitRipple" data-toggle="collapse" data-target="#inbox-toolbar-toggle-single">
                                    <i class="icon-circle-down2"></i>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table">
                        <col width="5%">
                        <col width="10%">
                        <col width="10%">
                        <col width="20%">
                        <col width="10%">
                        <col width="10%">
                        <col width="10%">
                        <col width="10%">
                        <col width="15%">


                        <thead>
                        <tr class="bg-blue">
                            <th>
                                <input type="checkbox">
                            </th>
                            <th>번호</th>
                            <th>이름</th>
                            <th>아이디(이메일)</th>
                            <th>휴대폰번호</th>
                            <th>비밀번호</th>
                            <th>FACEBOOK</th>
                            <th>KAKAO</th>
                            <th>가입일</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(item,index) in listData">
                            <td></td>
                            <td></td>
                            <td>{{item.USERNAME}}</td>
                            <td>{{item.USEREMAIL}}</td>
                            <td>{{item.PHONE_NUMBER}}</td>
                            <td>{{item.PWD}}</td>
                            <td></td>
                            <td></td>
                            <td>{{item.INSERT_DATETIME}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /single line -->

            <div class="col-xs-12 text-center">
            <ul class="pagination-flat pagination-sm twbs-visible-pages pagination">
                <li class="prev disabled"><a href="#" class="page-link">←</a></li>
                <li class="page active"><a href="#" class="page-link legitRipple">1</a></li>
                <li class="page"><a href="#" class="page-link legitRipple">2</a></li>
                <li class="page"><a href="#" class="page-link legitRipple">3</a></li>
                <li class="page"><a href="#" class="page-link legitRipple">4</a></li>
                <li class="next"><a href="#" class="page-link legitRipple">→</a></li>
            </ul>
            </div>


        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

</div>

<script language="javascript" src="/view_js/admin/member/list.js"></script>