<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>톡스타 관리</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/colors.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script type="text/javascript" src="/assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/loaders/blockui.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/ui/nicescroll.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/ui/drilldown.js"></script>

    <!-- /core JS files -->


    <script type="text/javascript" src="/assets/js/pages/sidebar_dual.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/selects/select2.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/app.js"></script>
    <script type="text/javascript" src="/assets/js/pages/form_layouts.js"></script>
    <script type="text/javascript" src="/assets/js/pages/components_popups.js"></script>
    <!-- /theme JS files -->



</head>

<body class="sidebar-opposite-visible pace-done" data-target=".sidebar-fixed" data-spy="scroll">

<!-- Main navbar -->
<div class="navbar navbar-inverse bg-indigo">
    <div class="navbar-boxed">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><img src="/image/bp_logo_166_29.png" alt=""></a>

            <ul class="nav navbar-nav pull-right visible-xs-block">
                <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
            </ul>
        </div>

        <div class="navbar-collapse collapse" id="navbar-mobile">

            <ul class="nav navbar-nav navbar-right">


                <li class="dropdown dropdown-user">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <img src="assets/images/image.png" alt="">
                        <span>관리자 설정</span>
                        <i class="caret"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#"><i class="icon-cog5"></i> 패스워드 변경</a></li>
                        <li><a href="#"><i class="icon-switch2"></i> 로그아웃</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>



<!-- Second navbar -->
<div class="navbar navbar-default" id="navbar-second">
    <div class="navbar-boxed">
        <ul class="nav navbar-nav no-border visible-xs-block">
            <li><a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-second-toggle"><i class="icon-menu7"></i></a></li>
        </ul>

        <div class="navbar-collapse collapse" id="navbar-second-toggle">
            <ul class="nav navbar-nav">

                <!--
                <li>
                    <a href="/member/memberList"><i class="icon-users"></i> 회원관리</a>
                </li>
                <li>
                    <a href="/question/category"><i class="icon-compose"></i> 질문지관리
                    </a>
                </li>
                -->

                <li class="dropdown">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        코드관리<span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu width-200">
                        <!--<li class="dropdown-header">Basic layouts</li>-->
                        <li class="dropdown-submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-grid2"></i> 카테고리관리</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header highlight">코드관리</li>
                                <li><a href="/code/categorylist/01">브랜드</a></li>
                                <li><a href="/code/categorylist/02">이미지</a></li>
                                <li><a href="/code/categorylist/03">키워드</a></li>
                                <li><a href="/code/categorylist/04">스타일</a></li>
                                <li><a href="/code/keywordlist">키워드관리</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-grid2"></i> 브랜드관리</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header highlight">코드관리</li>
                                <li><a href="/brand/vlist">브랜드관리</a></li>
                                <li><a href="/styleboard/vlist">스타일보드</a></li>
                                <li><a href="/image/vlist">이미지관리</a></li>
                                <li><a href="/keyword/vlist">키워드관리</a></li>
                            </ul>
                        </li>


                        <li><a href="/code/clientlist"><i class="icon-flip-vertical3"></i> 클라이언트</a></li>
                    </ul>
                </li>


            </ul>


        </div>
    </div>
</div>
<!-- /second navbar -->

<%-body%>

</body>

<script src="/assets/js/common.js"></script>
</html>


