<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>톡스타 관리자페이지</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/colors.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script type="text/javascript" src="/assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/loaders/blockui.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/ui/nicescroll.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/ui/drilldown.js"></script>

    <!-- /core JS files -->


    <script type="text/javascript" src="/assets/js/pages/sidebar_dual.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/selects/select2.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/app.js"></script>
    <script type="text/javascript" src="/assets/js/pages/form_layouts.js"></script>
    <script type="text/javascript" src="/assets/js/pages/components_popups.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/notifications/jgrowl.min.js"></script>

    <script src="/assets/js/common.js" type="text/javascript"></script>
    <script src="/assets/js/vue.js" type="text/javascript"></script>


</head>

<body class="sidebar-opposite-visible pace-done" data-target=".sidebar-fixed" data-spy="scroll">

<!-- Main navbar -->
<div class="navbar navbar-inverse bg-indigo-700">
    <div class="navbar-boxed">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">TalkStar Admin</a>

            <ul class="nav navbar-nav pull-right visible-xs-block">
                <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
            </ul>
        </div>

        <div class="navbar-collapse collapse" id="navbar-mobile">

            <ul class="nav navbar-nav navbar-right">


                <li class="dropdown dropdown-user">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <img src="assets/images/image.png" alt="">
                        <span>관리자 설정</span>
                        <i class="caret"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right">
                        <!--<li><a href="#"><i class="icon-cog5"></i> 패스워드 변경</a></li>-->
                        <li><a href="/member/logout"><i class="icon-switch2"></i> 로그아웃</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /main navbar -->


<!-- Second navbar -->
<div class="navbar navbar-default" id="navbar-second">
    <div class="navbar-boxed">
        <ul class="nav navbar-nav no-border visible-xs-block">
            <li><a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-second-toggle"><i class="icon-menu7"></i></a></li>
        </ul>

        <div class="navbar-collapse collapse" id="navbar-second-toggle">
            <ul class="nav navbar-nav">

                <li>
                    <a href="./memberList"> 회원 관리</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> 컨텐츠 관리</a>
                    <ul class="dropdown-menu width-300">
                        <li>
                        <a href="#" class="dropdown-toggle"> 명령어관리</a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle"> 기능관리</a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle"> 교재관리</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> 고객센터 관리</a>
                    <ul class="dropdown-menu width-300">
                        <li>
                            <a href="#" class="dropdown-toggle"> 공지사항관리</a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle"> 문의관리</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"> 통계</a>
                </li>
                <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                        <!--<i class="icon-stackoverflow"></i> 이미지 & 키워드 관리 <span class="caret"></span>-->
                    <!--</a>-->
                    <!--<ul class="dropdown-menu width-300">-->
                        <!--&lt;!&ndash;<li class="dropdown-header">Basic layouts</li>&ndash;&gt;-->
                        <!--<li class="dropdown-submenu width-300">-->
                            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-code"></i> 카테고리 관리</a>-->
                            <!--<ul class="dropdown-menu width-300">-->
                                <!--<li class="dropdown-header highlight">카테고리 관리</li>-->
                                <!--<li><a href="/code/categorylist/01"><i class="icon-circle-code"> </i> 연관 브랜드</a></li>-->
                                <!--<li><a href="/code/categorylist/02"><i class="icon-circle-code"> </i> 연관 이미지</a></li>-->
                                <!--&lt;!&ndash; 									<li><a href="/code/categorylist/05"><i class="icon-circle-code"> </i> 이미지 프로파일링 텍스트(이미지) 코드</a></li> &ndash;&gt;-->
                                <!--<li><a href="/code/categorylist/03"><i class="icon-circle-code"> </i> 브랜드 프로파일링</a></li>-->
                                <!--<li><a href="/code/categorylist/04"><i class="icon-circle-code"> </i> 스타일 보드</a></li>-->
                                <!--<li><a href="/code/keywordlist"><i class="icon-circle-code"> </i> 브랜드와 이미지 연관키워드</a></li>-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--<li class="dropdown-submenu width-300">-->
                            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-grid4"></i> 세부 항목 관리</a>-->
                            <!--<ul class="dropdown-menu width-300">-->
                                <!--<li class="dropdown-header highlight">세부 항목 관리</li>-->
                                <!--<li><a href="/brand/vlist"><i class="icon-stack-picture"> </i> 연관 브랜드 등록</a></li>-->
                                <!--<li><a href="/image/vlist"><i class="icon-stack-picture"> </i> 연관 이미지 등록</a></li>-->
                                <!--&lt;!&ndash; 									<li><a href="/imagetext/vlist"><i class="icon-stack-picture"> </i> 이미지 프로파일링 텍스트(이미지) 관리</a></li> &ndash;&gt;-->
                                <!--<li><a href="/keyword/vlist"><i class="icon-stack-text"> </i> 브랜드 프로파일링 키워드와 이미지 등록</a></li>-->
                                <!--<li><a href="/styleboard/vlist"><i class="icon-stack-picture"> </i> 스타일 보드 등록</a></li>-->
                            <!--</ul>-->
                        <!--</li>-->

                        <!--<li><a href="/code/clientlist"><i class="icon-command"></i> 클라이언트</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
</div>
<!-- /second navbar -->




<%-body%>



</div>
<!-- /page content -->

</div>
<!-- /page container -->






</body>
</html>




<!-- END PAGE LEVEL JS -->




